.search-section {
    float: left;
    width: 400px;
    min-height: 600px;
    border-radius: 8px;
    border: solid #ccc 1px;
    background-color: #f3f3f3;
    margin: 10px;
    padding: 10px;
}

#search-btn {
    color: #fff;
    background-color: #357266;
    border-color: #357266;
}

#search-btn:hover {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
}

.search-history-btn {
    color: #fff;
    background-image: linear-gradient(to right, #574D68, #473f53);   
}

.search-history-btn:active {
    color: #fff;
    background-color: #0E3B43;
    border-color: #0E3B43;
}